*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.container {
  background: url(assets/tausta.JPG) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-box {
  width: 480px;
  max-width: calc(100vw - 10px);
  background-color: rgba(171, 23, 23, 0.8);
  text-align: center;
  padding: 40px 50px;
  color: rgb(0, 0, 0);
  position: relative;
  border-radius: 15px;
  border: 4px solid rgba(0, 0, 0, 1)
}

.profile-picture {
  width: 120px;
  height: 145px;
  border-radius: 50%;
  background: rgb(3, 1, 1);
  padding: 4px;
  transition: all 0.5s ease-in-out;
  margin-top: -115px;
  margin-bottom: 10px;;
}

.profile-picture:hover {
  transform: scale(1.1);
  filter: grayscale(10%);
}

.content {
  margin-top: 10px;
  padding: 5% 10%;
  border-top: 1px solid rgba(0, 0, 0, 0.984);
}

h2 {
  font-size: medium;;
}

p {
  font-size: medium;
  font-weight: 500;
}

a {
  color: rgba(0, 0, 0, 0.718);
}

a:hover {
  color: rgb(233, 254, 4);
}